<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= twitter_url(@user) %>" alt="" class="img-circle" width="100" hight="100">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
  <div class="status text-center">
    <ul style='list-style-type:none;'>
      <li>
        <div class="status-label">登録日</div>
        <div id="want_count" class="status-value">
          <%= @user.created_at.strftime('%Y年%m月%d日') %>
        </div>
      </li>
    </ul>
  </div>
</div>
