<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<script>
    $(function() {
        //一定時間後に処理を行う（0.8秒後）
        setTimeout(function() {
            //idが"notice"のdiv要素をゆっくりとフェードアウト
            $('.alert').fadeOut("slow");
        }, 800);
    });
</script>